body {
  background-image: url("assets/background.jpeg");
  color: #fff;
}

.container {
  display: flex;
  padding: 10px;
  justify-content: center;
}

button {
  color: #fff;
  background-color: rgb(71, 149, 185);
  margin: 5px;
}

#who {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

#who p {
  position: absolute;
  left: 370px;
  top: 150px;
  width: 700px;
}

#who h1 {
  text-align: center;
}

#who h1,
img {
  margin-bottom: 50px;
  margin-left: 100px;
}

#who img {
  padding: 20px;
  background-color: rgb(71, 149, 185);
}

strong {
  font-size: larger;
  font-family: "Poppins";
  color: rgb(91, 106, 236);
}

#hard,
#soft {
  font-size: 30px;
  margin-bottom: 40px;
  margin-left: 100px;
  padding: 20px;
  background-color: rgb(71, 149, 185);
  width: 15%;
}

.hardskills {
  font-size: 15px;
  color: azure;
  list-style: square;
}

.softskills {
  font-size: 15px;
  list-style: square;
  color: chartreuse;
}

#final {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: rgb(242, 253, 255);
  margin-left: 100px;
  padding: 20px;
  background-color: rgb(71, 149, 185);
  width: 50%;
}
